@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&display=swap');

.menu nav{
    /* background-color: black; */
    display: flex;
    padding-left: 33%;
     
}
 img{
 
   
  background-repeat: no-repeat;
  transform: translateX(25px); 
  
  
}

/*.bg:hover{
transform: scaleX(1.5);
} */

a{
    color:black;
  cursor: pointer;
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Josefin Sans', sans-serif;
  font-size:15px ;
  text-decoration: none;
  
}



/* ---------------------------------------pagina sobre ------------------------------ */

.tsobre p{
margin-left: 25px;
margin-right: 25px;
 text-align: justify;
 font-size: 20px;
}
h1{
  margin-top: -20px;
  text-align: center;
  color: white;
  
}
.tituloP{
  background-color: rgb(45,45,45);
  margin-left: 25px;
  margin-right: 25px;
 margin-top: 3px;
 margin-left: 25px;
 margin-right: 25px;
 height: 100px;
  
}
 .tituloP .barra{
  
  background-color: rgb(242, 211, 6);
  height: 20px;

  margin-top: -10px;
  margin-left: 0px;
 margin-right: 0px;
} 
.menu2{
  display: flex;
  padding-left: 33%;
}
.menu2 a{
  color:black;
}

/* ---------------------------------------pagina menu ------------------------------ */
.cardapio  {
 
 display: flex;
 margin-left: 200px;

 
}
.m3{
  padding-left: 100px;
 padding-top: 200px ;
}
.m2{
  padding-left: 100px;
 padding-top: 200px ;
}
.m1{
  padding-left: 100px;
  padding-top: 200px ;
}
 .barra1{
  background-color: rgb(45,45,45);
  margin-top: 3px;
  margin-left: 25px;
  margin-right: 25px;
 height: 100px;
 
}
.barra2{
  background-color: rgb(242, 211, 6);
  margin-top: -30px;
  margin-left: 25px;
  margin-right: 25px;
} 
pre{
  font-family: Arial, Helvetica, sans-serif;
  font-size: px;
}
.menuCardapio  {
    display: flex;
    padding-left: 33%;
}
.barra1 h1{
  margin-top: -30px;
  text-align: center;
}
.cardapio pre{
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  color: rgb(45,45,45);
 }
 .m1:hover{
  transform: scale(1.5);
}
.m2:hover{
  transform: scale(1.5);
}
.m3:hover{
  transform: scale(1.5);
}
/*----------------------------------------------------------------feedback */
.fb{
  display: flex;
  padding-left: 33%;
}
 
.container h4{
 text-align: center;
 margin-top: 100px;
 margin-left: -160px;
}
.container textarea{
  margin-left: 30%;
}
input{
  margin-top: 10px;
 margin-left: 741px;
}
